USE [ProjectDataBase]
GO
/****** Object:  Table [dbo].[energy]    Script Date: 2024-04-08 오전 10:52:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[energy](
	[metro] [nvarchar](50) NOT NULL,
	[source] [nvarchar](50) NOT NULL,
	[year] [int] NOT NULL,
	[toe] [int] NOT NULL,
	[Mwh] [int] NOT NULL,
	[kWTotal] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[energy] ([metro], [source], [year], [toe], [Mwh], [kWTotal]) VALUES (N'서울', N'태양열', 2020, 621, 0, 0)
INSERT [dbo].[energy] ([metro], [source], [year], [toe], [Mwh], [kWTotal]) VALUES (N'부산', N'태양열', 2020, 732, 0, 0)
INSERT [dbo].[energy] ([metro], [source], [year], [toe], [Mwh], [kWTotal]) VALUES (N'대구', N'태양열', 2020, 837, 0, 0)
GO
